.inBlock{
   display: block;
    height: 768px;
    /* padding: 30px; */
    overflow: auto;
    left: 0px;
}

.cardPoke{
    width: 30% !important;
}

.happy {
    width: 35px !important;
    height: 35px !important;
}

.progress{
    margin: 0;
}

.bodyfont{
    font-family: 'Gaegu'
}